<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/WhatsApp Image 2022-11-07 at 19.44.23.jpeg" alt="Irawan Dwi" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Irawan Dwi</h>
            <p class="lead">Mahasiswa | Programmer</p>
        </div>
    </div>
</div>