<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Daftar Contact</h1>
            <a href="/contact/add" class="btn btn-primary mb-2">Tambah Data</a>
            <div class="class text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">No Telp</th>
                        <th scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% contacts.forEach((contact, i) => { i++ %>
                            <tr>
                                <th scope="row"><%= i++ %></th>
                                <td><%= contact.nama %></td>
                                <td><%= contact.noTelp %></td>
                                <td>
                                    <a href="/contact/<%= contact.nama %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail </a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>